.approve{
    border-radius: 6px;
    background-color: rgb(57, 230, 51);
    color:black;
    text-align: center;
}
.decline{
    background-color: rgb(218, 95, 95);
    border-radius: 6px;
    color:black;
}
.status button{
    margin:0 3px;
    color:black;
}