.profile{
    width:fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color:bisque;
    border-radius: 10px;
    margin: 0 auto;
    justify-content: center;
}
.profile td{
    padding: 1rem;
}
.profile:hover{
    background-color: aquamarine;
}
